---
const { code } = Astro.props;
---

<div class="mermaid-block">
  <pre class="mermaid">{code}</pre>
</div>

<script>
  import mermaid from "mermaid";

  if (!window["__contentFirstMermaidInitialized"]) {
    mermaid.initialize({
      startOnLoad: false,
      theme: "neutral"
    });
    window["__contentFirstMermaidInitialized"] = true;
  }

  mermaid.run({
    querySelector: ".mermaid"
  });
</script>
