{:source-paths ["src" "system/src" "test"]
 :builds
 {:build
  {:target :node-script
   :main blog.main/main
   :output-to ".shadow-cljs/builds/build/main.cjs"}
  :test
  {:target :node-script
   :main blog.test-runner/main
   :output-to ".shadow-cljs/builds/test/test-runner.cjs"}}}
