---
import "@fortawesome/fontawesome-free/css/all.min.css";
import "../styles/site.css";
import "katex/dist/katex.min.css";
import runtime from "../../managed/runtime-config.json";

const {
  title,
  description = runtime.site.description
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <div class="page-shell">
      <slot />
    </div>
  </body>
</html>
