{"hello-world"
 {:tags ["clojurescript" "astro" "content-system"]
  :summary "A small spike proving content-first Markdown can compile into a managed Astro runtime."
  :llm {:suggested-tags ["markdown" "math" "mermaid"]
        :suggested-series nil}
  :overrides {:tags ["clojurescript" "astro" "content-system"]
              :summary "A small spike proving content-first Markdown can compile into a managed Astro runtime."}}}
